/* ---------------import------------------------ */

@import "/css/layout.css";

/* ---------------body-------------------------- */

.ex-box {
  border: 1px solid black;
  padding: 10px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  line-height: 2;
}

.auth-box {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0;
  	position:relative;
	top: 25px;
}
.auth-box .auth-text {
	position:relative;
	top: -30px;
	left:60px;
}
.image-box {
	position:relative;
	top: -20px;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  align-self: stretch;
  font-size: 10px;
  text-align: center;
  color: white;
	overflow: hidden;
}
.image-box .auth-image {
	width: 200px;
  	height: 200px;
	object-fit: contain;
}
.textarea {
  width: 50%;
  height: 200px;
  resize: none;
  outline: none;
  padding: 20px 10px;
}

.drag-box {
  position: relative;
  margin: 20px 0;
  height: 300px;
  width: 400px;
  border: 1px solid black;
  object-fit: contain;
  left: 400px;
  background: #e9e9e9;
  border-radius: 20px;
}
.drag-box span {
	position: relative;
	top: 130px;
	left:80px;
}
.drag-result {
	text-align:center;
	padding-bottom: 3px;
}
.answer-container {
  display: flex;
  justify-content: center;
}
.answer > li {
  font-weight: bold;
  padding: 10px 0;
}
.circle-box {
  display: flex;
  align-items: center;
}
.circle {
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 10px;
  outline: none;
}
.circle-box .c-xl {
  width: 60px;
  height: 60px;
}
.circle-box .c-l {
  width: 50px;
  height: 50px;
}
.circle-box .c-m {
  width: 40px;
  height: 40px;
}
.circle-box .c-s {
  width: 30px;
  height: 30px;
}

.circle-box input[type="radio"]:checked {
  appearance: none;
  background-color: #ff8f00;
}
.circle-box span {
  color: #ff8f00;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  margin-bottom: 30px;
}
/* .button-container input {
  width: 300px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.button-container input:first-child {
  background-color: skyblue;
}
.button-container input:last-child {
  background-color: bisque;
} */
