@import url("/css/layout.css");

#body {
    margin-bottom: 50px;
}
#main form > * {
    margin-bottom: 30px;
}
.m-img {
    background: #e9e9e9;
    margin-right: 20px;
    display:inline-block;
    background-size:100% 100%
}
.g-mImg{
	opacity: 0.1;
	display: flex;
	justify-content: center;
	align-items: center;
}
input[type=text],
.description {
    padding: 3px 8px;
    width: 100%;
    resize: none;
}






/* --------- Required --------- */
.required{
    display: flex;
}
.required .required__content {
    flex: 1;
}
.required .required__content > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.required label {
    margin-right: 10px;
    font-weight: bold;
}
.required .participants__container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.required .profile {
	position: relative;
}
.required .profile__image {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	margin-left: 10px;
}
.required .profile__info {
	display: none;
	width: 80px;
  	color: #fff;
  	text-align: center;
  	background-color: #fff;
  	border-radius: 5px;
  	padding: 5px 0;
	position: absolute;
	left: -8px;
	bottom: -30px;
  	z-index: 10;
  	transition: background-color 2s;
}
.required .profile:hover .profile__info {
	display: inline;
	background-color: #ff8f00;
}





/* --------- Non-Required --------- */
.non-required > div > div{
    display: inline-block;
}
.non-required .m-img {
    margin-top: 20px;
}
.non-required .description {
    margin-top: 20px;
    min-height: 150px;
}





/* --------- Buttons --------- */
.buttons {
    display: flex;
    justify-content: center;
}
.buttons > * {
    margin-right: 30px;
}




/* --------- ModalBox --------- */
.modalbox__alert,
.modalbox__confirm {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.modalbox__alert > *,
.modalbox__confirm > * {
	margin: 20px 0px;
}