/* ---------------import------------------------ */

@import "/css/layout.css";

/* ---------------body-------------------------- */

.detail-info{
display: flex;
margin-bottom: 40px;
}

.detail-info .detail-info-img img{
   width: 350px;
   height: 250px;
   margin-right: 100px;

}



.detail-info .detail-info-text h1{
   font-size: 28px;
   font-weight: 600;
   --margin: 10px 10px 15px 15px;

}

.detail-info .detail-info-text span{
   display: block;
   font-size: 18px;
   margin: 10px;
   color: gray;
}


.detail-table tr{
   display: block;
   margin: 10px;
}

.detail-table td{
   width: 150px;
}


.detail-result{
    display: flex;
    padding-top: 30px;
}

.detail-result h2{
   padding-bottom: 10px;
    font-size: 20px;

}

.detail-result span{
    font-size: 13px;
    
}

.detail-result-chart{
    width: 50%;
    padding-right: 30px;
}

.detail-img-part{

}

.detail-img-part h2{
    padding-bottom: 15px;
    font-size: 20px;
    padding-top: 30px;
}

.detail-recent-img{
    display: flex;
    
}

.detail-recent-img img{
    width: 300px;
    height: 200px;
    padding-right: 45px;
    margin-bottom: 100px;
}

/* 이미지 동영상처럼 보이게 히는css */
.detail-result2 h2{
	  padding-bottom: 20px;
    font-size: 20px;
    padding-top: 50px;
}

.video-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.video-frame {
  position: relative;
  width: 300px;
  height: 200px;
}
.video-img {
  object-fit: cover;
  width: 300px;
  height: 200px;
  position: absolute;
  z-index: 1;
}

.video-stop {
  background: url("/images/play.png") no-repeat;
  z-index: 1;
  width: 100px;
  height: 100px;
  position: relative;
  top: 35%;
  left: 40%;
}
.video-play {
  animation: fade-in-fwd 3s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}




/* media query */
@media (max-width: 991px) {
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
 
}



