@import url("/css/layout.css");

/* --------- Calendar --------- */
.calendar__weekly{
    height: 150px;
    display: flex;
}
.calendar__weekly>li{
    padding: 8px 10px;
    flex: 1 0;

    background: white;
    border-right: 1px solid gray;
}





/* --------- Search Form --------- */
.search {
    height: 40px;
    display: flex;
    justify-content: flex-end;
}
.search__form {
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search__form input {
    padding: 0px 15px;
}





/* --------- Goal List --------- */
.goals .s-img {
    padding: 0px;
}
.goals .del-button {
    background: none;
    border: none;
    text-align: right;
    outline: none;
    cursor: pointer;
}
.goals .goals__list>li {
    margin: 20px 0px;
    display: flex;

    border-right: 1px solid gray;
}
.goals .goal__contents,
.goals .goal__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 10px 0px 20px;
}
.goals .goal__contents {
    flex-grow: 1;
}
.goals .goal__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.goals .setting {
    align-self: flex-end;
}