/* ---------------import------------------------ */

@import "/css/layout.css";

/* ---------------body-------------------------- */

.major {
  position: relative;
  text-align: center;
  border-top: solid 1px #ccc;
  top: 16px;
  margin: 0 0 48px 0;
}
.major a {
  text-decoration: none;
}
.major li {
  background: #fff;
  position: relative;
  top: -11px;
  display: inline;
  margin: 10px;
  padding: 0 16px 0 16px;
}
.major .input-box {
  position: relative;
  display: inline-block;
  right: -230px;
  top: 30px;
}
.major .input-box select {
  position: relative;
  right: 10px;
}
.image-container {
  margin-bottom: 50px;
}
.image-container .date {
  font-size: 23px;
  padding-bottom: 5px;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.goal-list {
  padding: 15px 0;
}
.goal-list .image {
  position: relative;
}
.goal-list .image .fa-user-circle {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.goal-list img {
  width: 100%;
  height: 230px;
}
