/* ---------------import------------------------ */

@import "/css/layout.css";

/* ---------------body-------------------------- */

.detail-info{
display: flex;
margin-bottom: 40px;
}

.detail-info .detail-info-img img{
   width: 350px;
   height: 250px;
   margin-right: 100px;

}



.detail-info .detail-info-text h1{
   font-size: 28px;
   font-weight: 600;
   --margin: 10px 10px 15px 15px;

}

.detail-info .detail-info-text span{
   display: block;
   font-size: 18px;
   margin: 10px;
   color: gray;
}


.detail-table tr{
   display: block;
   margin: 10px;
}

.detail-table td{
   width: 100px;
}

.detail-result{
    display: flex;
    padding-top: 30px;
}

.detail-result h2{
    display: inline;
    font-size: 22px;

}

.detail-result span{
    font-size: 13px;
    
}

.detail-result-chart{
    width: 60%;
    padding-right: 30px;
}


/* media query */
@media (max-width: 991px) {
}

@media (max-width: 767px) {

}

@media (max-width: 575px) {
 
}



