@import url("/css/layout.css");

.body .main {
    width: 100%;
    border: 1px solid gray;
}
.body .main form > section {
    margin: 30px 20px;
}
.body .main .img {
    width: 200px;
    height: 200px;
    background: #e9e9e9;
}

/* --------- Required --------- */
.body .main .required{
    display: flex;
}
.body .main .required .required__content > div{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

/* --------- Non-Required --------- */
.body .main .non-required > div{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
}

/* --------- Buttons --------- */
.body .main .buttons {
    border: 1px solid gray;
}