/* ---------------import------------------------ */

@import "/css/layout.css";

/* ---------------body-------------------------- */
.tab-part {
	display: flex;
 	justify-content: space-between;
 	position: relative;
}
.profile-box {
	display:flex;
	position:relative;
	top: 65px;
}
.profile-box .profile-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position:relative;
	
}
.profile-box .profile-img:hover {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	z-index:5;
	position:relative;
	
}
.profile-box .profile-name {
	display: none;
	width: 80px;
  	color: #fff;
  	text-align: center;
  	background-color: #fff;
  	border-radius: 5px;
  	padding: 5px 0;
	position: absolute;
	left: 0px;
	bottom: 37px;
  	z-index: 10;
  	transition: background-color 2s;
}
.profile-box .profile-img:hover ~ .profile-name {
	display: inline;
	background-color: #ff8f00;
}

/*profile ��ġ��*/
.profile-box .profile:nth-of-type(2) {
	position:relative;
	right: 30px;
}
.profile-box .profile:nth-of-type(3) {
	position:relative;
	right: 60px;
}
.profile-box .profile:nth-of-type(4) {
	position:relative;
	right: 90px;
}
.profile-box .profile:nth-of-type(5) {
	position:relative;
	right: 120px;
}
.profile-box .profile:nth-of-type(6) {
	position:relative;
	right: 150px;
}
.profile-box .profile:nth-of-type(7) {
	position:relative;
	right: 180px;
}
.profile-box .profile:nth-of-type(8) {
	position:relative;
	right: 210px;
}
.profile-box .profile:nth-of-type(9) {
	position:relative;
	right: 240px;
}
.profile-box .profile:nth-of-type(10) {
	position:relative;
	right: 270px;
}
/*profile ��ġ��*/
.major {
  position: relative;
  text-align: center;
  top: 16px;
  margin: 0 0 48px 0;
}

.major .input-box {
  position: relative;
  display: inline-block;
  right: -230px;
  top:65px;
  
  
}
.major .input-box select {
  position: relative;
  right: 10px;
}
.major .input-box select, .major .input-box input {
	 outline: none;
}
.image-container {
  margin-bottom: 50px;
}
.image-container .date {
  padding-bottom: 5px;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.goal-list {
  padding: 15px 0;
}
.goal-list .image {
  position: relative;
}
.goal-list .image .fa-user-circle {
  position: absolute;
  width:70px;
  height:70px;
  right: 15px;
  bottom: 15px;
}
.goal-list img {
  width: 100%;
  height: 230px;
}
