@import url("../../reset.css");

* {
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    background: fuchsia;
}

.container {
    width: 1366px;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    background: white;
    border: 1px solid gray;
}

/* ---------------- header ---------------- */
.header {
    flex: 0 0 60px;
    
    background: rgb(255, 211, 218);
}

/* ---------------- body ---------------- */
.body {
    flex-grow: 1;

    background: rgb(255, 243, 190);
}

/* ---------------- footer ---------------- */
.footer {
    height: 100px;

    background: rgb(214, 255, 255);
}