/* ---------------import------------------------ */
@import "/css/reset.css";
@import "/css/header.css";
@import "/css/style.css";
/* ---------------------------------------------- */
body{
	position: relative;
}
#body{
    background-color: rgba(255, 253, 248, 0.726);
    padding-bottom: 100px;
}
#body .content-container{
    
    flex: 0 1 auto;
    width: 1200px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    
}
#main{
    padding-top: 50px;
}