main{
    background: #e9e9e9;
}
.main{
    border: 1px solid white;
    width: 500px;
    height: 1100px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
    .main .page-back{
        font-size: 30px;
        width: 20px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .main>h1{
        font-size: 30px;
        width: 210px;
        margin:40px auto 40px 15px;
    }
    .main .find-box{
        display: flex;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
        .main .find-box .find{
            width: 175px;
            height: 35px;
            padding-top: 5px;
            padding-left: 35px;
            margin-bottom: 20px;
        }
        .find-box .unclicked{
            border: 1px solid #e9e9e9;
        }
        .find-box .clicked{
            border: 1px solid #e9e9e9;
            background: #e9e9e9;
            color: #ff8f00;
        }
    .text-box{
        width: 350px;
        height: 50px;
        margin-left: 70px;
        margin-bottom: 10px;
        border: 1px solid #e9e9e9;
    }
    .main .text-box:hover{
        background: skyblue;
        border: 1px solid rgb(52, 59, 88);
    }
    .find-btn{
        width: 350px;
        height: 50px;
        margin-top: 50px;
        margin-left: 70px;
        margin-bottom: 10px;
        border: 1px solid #e9e9e9;
        font-size: 18px;
    }
    .find-btn:hover{
        font-weight: bold;
        color: #ff8f00;
        border: 1px solid #ff8f00;
    }
    #login-button{
        margin-top: 100px;
        margin-left: 150px;
    }
    #password-box{
        width: 350px;
        height: 100px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .password-text{
        width: 200px;
        padding-bottom: 20px;
    }
    .color{
        color: coral;
    }
    #login-button{
        margin-top: 100px;
        margin-left: 150px;
    }