 .img-container{
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
    .img-container img{
        object-fit: fill;
        width: 1200px;
        height: 700px;
        position: absolute;
        margin-top: 6px;
    }
    .img-container .text{
        color: white;
        position: relative;

        left: 150px;
    }
    .img-container .text1{
        font-size: 45px;
        font-weight: bold;
        width: 360px;
        top: 130px;
        line-height: 60px;
    }
    .img-container .text2{
        font-size: 30px;
        top: 160px;
    }
    .img-container .text3{
        font-size: 45px;
        top: 280px;
        border: 3px solid white;
        border-radius: 10px;
        width: 430px;
        padding: 20px 50px;
    }
    a:hover{
        text-decoration: none;
    } 

header {
    background-color: white;
    position: sticky;
    width:100%;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-shadow: 0px 3px 7px 0px rgba(255, 229, 204, 0.75);
    
    
 }
 
 header .main-logo img{
    width: 80px;
    margin-left: 20px;
 }
 
 header > nav {
    width:600px;
    height:100%;
 }
 
 header .h-list {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
 }
 
 header .h-list > li a{
    font-size:18px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #d67900;
    --font-weight: 600;
    /* text-shadow: -1px 0 #d37800, 0 1px #d37800, 1px 0 #d37800, 0 -1px #d37800;
    */
 }
 body {
 padding:0}
 
 #defaultCanvas0 {
 position:absolute;
 top:73px;
 z-index:-1;
 
 }