/* ---------------import------------------------ */

@import "/css/layout.css";

/* ---------------body-------------------------- */

.search-container {
  margin-bottom: 20px;
}
.search-table {
  width: 100%;
}
.search-table tr {
  height: 30px;
}
.search-table .a-input-orange-s {
  cursor: pointer;
}
.search-table .day span,
.search-table .category span {
  display: inline-block;
  margin: 0 5px;
}
.search-table .search-bar {
  border: 1px solid #979797;
  border-radius: 20px;
  outline: none;
}
.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}
.goal-list {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}
.goal-list .goal-title {
  display: flex;
  justify-content: space-between;
}

.goal-list img {
  width: 100%;
  height: 230px;
  padding-bottom: 25px;
}
.goal-list .para {
  padding: 0 25px;
}
.goal-list h2 {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 13px;
}
.goal-list p {
  padding-bottom: 13px;
}
.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: #ff8f00;
  color: #fff;
  font-weight: 700;
  outline: 0;
  font-size: 1.1em;
  padding: 0.65em 1.5em 0.65em 1.5em;
  text-align: center;
  transition: background-color 0.25s ease-in-out;
}

.button:hover {
  background: #f89a1e;
  color: #fff;
  text-decoration: none;
}

/* XLarge */

@media screen and (max-width: 1680px) {
  /* Basic */

  body,
  input,
  textarea,
  select {
    font-size: 12pt;
  }
}

/* Large */

@media screen and (max-width: 1280px) {
  /* Basic */

  body,
  input,
  textarea,
  select {
    font-size: 11pt;
  }
}
@media screen and (max-width: 1680px) {
  .container {
    width: 70em;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 980px) {
  .container {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 736px) {
  .container {
    width: calc(100% - 40px);
  }
}
