<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allbareun.web.dao.GoalDao">


   <select id="getViewList" resultType="com.allbareun.web.entity.GoalView">
      select * from GoalView
   </select>
   
   <select id="get" resultType="com.allbareun.web.entity.GoalDetailView">
      select * from GoalDetailView
      where id = ${param1}
   </select>
   
    <select id="getProfile" resultType="com.allbareun.web.entity.User">
    
    select G.*,PV.name,PV.profile from (SELECT P.id , P.userId , P.goalId , U.name ,U.profile
			FROM Participation P
            LEFT JOIN User U ON P.userId = U.id) PV left join Goal G on PV.goalId = G.Id where G.id = ${param1};
            
   </select>
   
</mapper>