<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allbareun.web.dao.GroupDao">
	<insert id="insert">
		INSERT INTO `Group` (`goalId`, `requestDispatchUserId`, `requestReceiveUserId`)
		VALUES(#{goalId}, #{requestDispatchUserId}, #{requestReceiveUserId});
	</insert>
	
	<update id="update">
		UPDATE `Group`
		<choose>
			<when test="answer == true">
				SET answer = true
			</when>
			<otherwise>
				SET answer = false		
			</otherwise>
		</choose>
		WHERE goalId = #{goalId} and requestReceiveUserId = #{userId};
	</update>
	
	<delete id="delete">
		delete from `Group`
		where goalId = #{goalId} and requestReceiveUserId = #{userId};
	</delete>
</mapper>